/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

*,*::before,*::after{
  box-sizing: border-box;
}
.container{
	max-width: 768px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
/* CSS Reset end */


/* 基本樣式區域 */

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    font-family: 'Montserrat', sans-serif;
}

p, li{
    font-size: 14px;
    color: #737373;
    line-height: 1.5;
    letter-spacing: 1px;
}

h4{
    font-size: 18px;
    color: #7C542E;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

h4::after {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0;
    top: -4px;
    border-radius: 100px;
    background-color: #f0ece3;
    z-index: -1;
    transform: translateX(-40%);
}

h5{
    font-size: 14px;
    color:#46443B;
    margin-bottom: 8px;
}

h6{
    font-size: 16px;
    color:#222222;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

h6::after{
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 100px;
    background-color: #222222;
    z-index: -1;
    transform: translateX(-470%);
}

/* header */


.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F7ECDE;
    margin: 0-auto;
    padding: 40px;
    padding-left: 60px;
}

.header img{
    width: 200px;
    border-radius: 70px;
    margin-right: 80px;
}


.intro h1{
    font-size: 30px;
    font-weight: semibold;
    color: #625243;
    font-family: "cwTeXYen", sans-serif;    
    margin-bottom: 16px;
}

.intro h2{
    font-size: 18px;
    color:#222222;
    margin-bottom: 48px;
    line-height: 1.2;
}

.intro h3{
    font-size: 16px;
    color:#222222;
    margin-bottom: 8px;
    line-height: 1.2;
}

hr{
    width: 30%;
    color:#625243;
    margin-left: 0;
    margin-top: 16px;
}


/* self intro */

.self{
    background: #FDFAF6;
    padding: 52px;
    padding-top: 72px;
    padding-bottom: 80px;
}



/* content */
.content{
    background: #FDFAF6;
    padding: 52px;
    padding-top: 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education ul{
    list-style-type: disc;
    padding-left: 16px;
    line-height: 1.5;
}

.education li{
    line-height: 1.8;
}

.education span{
    font-size: 14px;
    color: #737373;
    line-height: 1.5;
    letter-spacing: 1px;
}


.workexperience p{
    margin-bottom: 12px;
    letter-spacing: 0;
}

.workexperience ul{
    margin-bottom: 52px;
}

.workexperience ul:last-child{
    margin-bottom: 0px;
}


/* studyplan */
.studyplan{
    background: #FDFAF6;
    padding: 52px;
    padding-top: 0;
    padding-bottom: 72px;
}

.studyplan h4{
    margin-bottom: 32px;
}

.box{
    padding-left: 24px;
    border-left: 3px dotted #D9D9D9;
}

.uiux, .cad, .code{
    margin-bottom: 64px;
}

.uiux ul{
    list-style-type: disc; 
    padding-left: 36px;
}

.uiux li{
    margin-bottom: 20px;
}

.uiux li p{
    color:#46443B;
    margin-bottom: 8px;
}

.uiux li span{
    color:#737373;
}

.link{
    padding-left: 36px;
    text-decoration: underline;
}

.link img{
    width: 16px;
}

.link a{
    color:#9D8678;
    font-size: 14px;
}

.cad p, .code p{
    padding-left: 20px;
}

.images{
    width: 600px;
    height: 200px;
    position: relative;
}

.images img{
    width: 125px;
    border-radius: 100px;
}

.img1{
    position: absolute;
    left: 30px;
    top: 20px;
}

.img2{
    position: absolute;
    left: 130px;
    top: 80px;
}

.img3{
    position: absolute;
    left: 230px;
    top: 20px;
}

.img5{
    position: absolute;
    left: 430px;
    top: 20px;
}

.img4{
    position: absolute;
    left: 330px;
    top: 80px;
}